<!-- This is the entire home landing page for the site -->

<% provide(:title, "") %>
<div class="row">
  <div class="span8 offset3">
	
  </div>
    <div class="row" style="padding:10px; margin-left:20px;">
        <button class="btn btn-success btn-large btn-hover">
         <%= link_to "Child Signin", child_signin_path, id: "navItem" %>
            <!-- child_signin_last_names_path -->

        </button>
    </div>
    <div class="clear"></div>
  <%= render "partials/calendar.html.erb", :object => @child_id = nil %>

</div>
