<% @parents.each_with_index do |parent, i| %>
	<!-- CHILD BUTTON -->
	<label id=<%= parent.id %>>
		<b><%= link_to parent.full_name,  {:controller => "child_arrive_depart", :action => "toggle_signin", :remote => true,
			:child_id => @child.id, :parent_guardian_id => parent.id  }, style: "color:black", class: "btn btn-block span6" %></b>
	</label>
	<!-- END Child button -->
<% end %>