<h3>Tap your child's last name</h3>

<% @letters.each do |letter| %>
	<%= link_to letter, {:controller => "child_arrive_depart", :action => "children", :first_letter => letter } %> &nbsp; | &nbsp;
<%end%>