<h3>Tap your child's name</h3>

<% @children.each do |child| %>
	
	<label class="btn btn-primary btn-block span6">
		<b><%= link_to child.full_name,  {:controller => "child_arrive_depart", :action => "children", :remote => true, :id => child.id  }, style: "color:white" %></b>
	</label>

<%end%>

<div id="options" style="display: none">
	<!-- <h3>All children starting with: <span id="letter"></span></h3> -->
		<div id="parent_list">
			<!-- place form associating with the letter -->			
				<!-- letter clicked is located as var txt, or in span with id "letter" -->
			<!-- end of form -->

		</div>
</div> <!-- options -->
<script type="text/javascript">
var txt = "";
$("label").click(function() {
  $( "#options" ).show( "fast" );
});
$("label").click(function(e) {
  txt = $(e.target).text();
  console.log(txt);
  $("#letter").text(txt);
});
</script>


</div>
<hr />
<script>
$('#element').popover('show')
$('.btn').button()
</script>



