<h3>Tap the first letter of the child's last name</h3>

<div class="btn-group">
<% @letters.each do |letter| %>
	<label class="btn btn-primary">
	<%= link_to letter,  {:controller => "child_arrive_depart", :action => "children", :first_letter => letter  }, style: "color:white" %></label>
<%end%>
</div>
<div id="child-container" class="row">
<hr />
<!--
<div id="sign-inOut" style="width:500px">
	<div style="margin: 0 auto;">
	<button type="button" class="btn btn-info">Sign-in</button>
	<button type="button" class="btn btn-warning">Sign-out</button>
	</div>
</div>
<br />

<div><!-- child container -->
<script>
$('#element').popover('show')
$('.btn').button()
</script>

