<h3>Tap the first letter of the child's last name</h3>

<div class="btn-group">
<% @letters.each do |letter| %>

	<label class="btn btn-primary">
		<%= link_to letter,  {:controller => "child_arrive_depart", :action => "children", :first_letter => letter, :remote => true  }, style: "color:white", class: "monkey" %>
	</label>

<!--
	<label class="btn btn-primary">
		<%= letter %>
	</label>
-->
<%end%>

<div id="options" style="display: none">
	<h3>All children starting with:<span id="letter"></span></h3>
	<form role="form">
		<div class="form-group" id="parent_list">
			<!-- place form associating with the letter -->			
				<!-- letter clicked is located as var txt, or in span with id "letter" -->
			<!-- end of form -->

		</div>
	</form>
</div> <!-- options -->
<script type="text/javascript">
var txt = "";
$("label").click(function() {
  $( "#options" ).show( "fast" );
});
$("label").click(function(e) {
  txt = $(e.target).text();
  console.log(txt);
  $("#letter").text(txt);
});
</script>


</div>
<div id="child-container" class="row">
<hr />
<!--
<div id="sign-inOut" style="width:500px">
	<div style="margin: 0 auto;">
	<button type="button" class="btn btn-info">Sign-in</button>
	<button type="button" class="btn btn-warning">Sign-out</button>
	</div>
</div>
<br />

<div><!-- child container -->
<script>
$('#element').popover('show')
$('.btn').button()
</script>

<script>
$('.monkey').bind('ajax:success', function(evt, data, status, xhr){
	console.log(data);
	$('#parent_list').html(data);
})
</script>

