<h3>Tap your child's name</h3>

<% @children.each do |child| %>
	
	<!-- CHILD BUTTON -->
	<label id=<%= child.id %>>
		<b><%= link_to child.full_name,  {:controller => "child_arrive_depart", :action => "children", :remote => true, :id => child.id  }, style: "color:white", class: "btn btn-primary btn-block span6" %></b>
	</label>
	<!-- END Child button -->
	
	<!-- Parents button -->
	<div id="parent_list_<%= child.id %>" style="display: none">
			<!-- this will get replaced with the content of the child's parents -->
	</div>
	<!-- END parents button -->

<%end%>



<script type="text/javascript">
$("label").click(function(e) {
  var id=$(this).attr('id');
   alert("ID:"+id);
  $( "#parent_list_"+id ).show( "fast" );
});
</script>

<script>
$('#element').popover('show')
$('.btn').button()
</script>




