<h3>Tap the first letter of the child's last name</h3>

<div class="btn-group">
<% @letters.each do |letter| %>
	<label class="btn btn-primary">
	<%= link_to letter,  {:controller => "child_arrive_depart", :action => "children", :first_letter => letter  }, style: "color:white" %></label>
<%end%>
</div>
<div id="child-container" class="row">
<hr />
<div id="sign-inOut" style="width:500px">
	<div style="margin: 0 auto;">
	<button type="button" class="btn btn-info">Sign-in</button>
	<button type="button" class="btn btn-warning">Sign-out</button>
	</div>
</div>
<br />
<div id="pager" class="col-md-6">
 <br /><br />
<div id="fieldentry" style="margin: 0 auto; width:500px">
<div id="centerField">

	<div id="input name" class="col-md-6" style="margin: 0 auto;">
	  <label class="control-label" for="inputSuccess1">Child</label>
			<select class="form-control">
  			<option>1</option>
  			<option>2</option>
  			<option>3</option>
			</select>

  	<label class="control-label" for="inputSuccess1">Individuals</label>
			<select class="form-control">
  			<option>1</option>
  			<option>2</option>
  			<option>3</option>
			</select>
	</div><! --#input name -->
</div>

<div id="confirmation" class="row  class="col-md-3 col-md-pull-9">
<button type="button" class="btn btn-success btn-lg btn-block">Confrim</button>
<button type="button" class="btn btn-danger btn-lg btn-block">Cancel</button>

</div>

</div>

</div>




<hr />
<div id="exit">

</div><!-- exit -->

<div><!-- child container -->
<script>
$('#element').popover('show')
$('.btn').button()
</script>

