<h3>Tap your child's name</h3>

<% @children.each do |child| %>
	
	<!-- CHILD BUTTON -->
	<label id=<%= child.id %>>
		<b><%= link_to child.full_name,  {:controller => "child_arrive_depart", :action => "children", :remote => true, :id => child.id  }, style: "color:white", class: "btn btn-primary btn-block span6" %></b>
	</label>
	<!-- END Child button -->
	
	<!-- Parents button -->
	<div id="parent_list_<%= child.id %>" style="display: none">
			<!-- this will get replaced with the content of the child's parents -->
	</div>
	<!-- END parents button -->
	
	<!-- TODO: add some sort of spacer here to give us some room between this child and the next -->

<%end%>

<div id="modal" style="display:none">
</div>


<!-- ATTN: THIS SCRIPT IS NO LONGER NEEDED. All JS logic is now in children.js.erb
	and toggle_signin.js.erb -->
<!--
<script type="text/javascript">
	$("label").click(function(e) {
		var id=$(this).attr('id');
		$( "#parent_list_"+id ).fadeToggle( "fast" );
	});
</script>
-->

<!-- ATTN: what does the script below do?? -->
<!--
<script>
	$('#element').popover('show')
	$('.btn').button()
</script>
-->




