<% provide(:title, @child.fname) %>
<div class="row">
  <aside class="span6">
	<h3>Account Details: <%= @child.full_name %></h3>
	<section class="pull-right span3 " style="margin-left:0px;">
	  <%= link_to "Change Information", edit_child_path, class: "btn btn-large btn-primary pull-left" %>
	  <% if !current_user?(@user) %>
		<p><%= link_to "Delete", child_path(@child.id), method: :delete, data: {confirm: "Are you sure you want to delete child #{@child.full_name}?"}, class: "btn btn-large btn-primary" %></p>
	  <%end%>


	<%= link_to "Back", children_path, class: "btn btn-large btn-primary pull-left  margin-top" %>
	</section>


	
</div>



