
<!--<p>Find me in app/views/static_pages/home.html.erb</p>-->
<div>
	<!--
	"Image courtesy of Stuart Miles, / FreeDigitalPhotos.net" ID-10069149

	<img src="/images/ID-10069149.jpg" />
-->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis arcu id ipsum tristique dictum. Quisque adipiscing sem non risus semper aliquam. Aliquam sollicitudin in lectus et faucibus. Suspendisse potenti. Vestibulum scelerisque, justo ut auctor eleifend, libero tortor bibendum ante, ac porta ligula nibh quis erat. Ut nec tincidunt nisl. Donec sodales ipsum a sollicitudin pellentesque. Fusce nisl magna, consectetur at cursus in, iaculis id erat. Donec vehicula elit vitae metus porta, vitae porta nibh gravida. Nunc quis justo sed libero aliquam condimentum non ac tortor.</p>

<p>Cras ornare vestibulum ipsum eget hendrerit. Nam scelerisque, nisl non rutrum auctor, arcu lacus facilisis elit, in pretium sem dui nec tortor. Morbi vel urna ut nibh tincidunt mattis in at dolor. Nunc ac adipiscing justo. Vivamus non libero hendrerit ligula ornare pharetra. Quisque fringilla mauris mollis magna facilisis elementum. Suspendisse in erat diam. Donec euismod enim sapien, eu semper nisi feugiat et. Nunc leo turpis, interdum ac euismod ut, accumsan et odio. Mauris ac ipsum non enim condimentum consectetur et a mauris. Nulla tristique lobortis erat ut pellentesque. Sed vehicula lorem non faucibus iaculis. Nam lobortis augue ac ligula placerat, at fringilla neque vehicula. Proin tempus nibh neque, sed molestie nulla ultrices eu. Nulla imperdiet augue enim, mattis varius velit facilisis vitae.</p>


  </div>
