<h3>Income Records</h3>

<ul class="incomes">
  <% @incomes.each_with_index do |income, i| %>
    <li>
	  <%= i+1 %>.)
	  <%= link_to income.description, income_path(income.id)  %>
	  <%=  %>
	<%end%>
  
</ul>
<p></p>
