@import "bootstrap";

/*************************************************************
	website: 	
	type:		
	desc:		
	Date:                     
-----------------------------------------------------------

	1.0 UNIVERSAL RESETS
	2.0 GENERIC CLASSES
	3.0 HEADER / FOOTER
	4.0 GENERAL STRUCTURE
	5.0 HEADINGS
	6.0 LINKS
	7.0 PARAGRAPHS
	8.0 BLOCKQUOTES AND CITATIONS
	9.0 FORMS
	10.0 LISTS
	11.0 TABLES
	12.0 MISC PRESENTATION ELEMENTS
	13.0 IMAGES
	14.0 META
	15.0 COMPONENT SPECIFIC
	16.0 PAGE SPECIFIC

*************************************************************/
/*
1.0 UNIVERSAL RESETS
------------------------------------------
*/
html {overflow-y: scroll;}
body {padding-top: 60px;}
section {overflow: auto;}
textarea {resize: vertical;}
.center {text-align: center;}
.center h1 {margin-bottom: 10px;}
/*
2.0 GENERIC CLASSES
------------------------------------------
*/
.clear{clear:both; text-indent:-9999em; height:3px;}
.float_right{float:right;}
.float_left{float:left}
.margin-top{margin-top:5px;}
.center-element{margin-left:33%}
/*
3.0 HEADER / FOOTER
------------------------------------------
*/
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: dodgerBlue;
  text-decoration: none;
}

#navItem{
	color: #fff;
  	text-decoration: none;
}
#navItemCurrent{
	color:deepPink
}

#navItem:hover{
	color:dodgerBlue;
}
/*#session_email, #session_password{margin-top:5px;}*/

#session_login{
	margin-top:10px;
}
#sign-in{
	margin-top:-10px;
}
.navbar-inner{
	height:50px;
}
#newUser{font-size:10px;position: relative; top:-5px; left:330px; color:#E4D2D2;}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*
4.0 GENERAL STRUCTURE
------------------------------------------
*/



/*
5.0 HEADINGS
------------------------------------------
*/




/*
6.0 LINKS
------------------------------------------
*/

/*
7.0 PARAGRAPHS
------------------------------------------
*/

/*
8.0 BLOCKQUOTES, CITATIONS, HR
------------------------------------------
*/

/*
9.0 FORMS
------------------------------------------
*/


/*
10.0 LISTS
------------------------------------------
*/

	

/*6.0 */


/*
11.0 TABLES
------------------------------------------
*/



/*
12.0 MISC PRESENTATION ELEMENTS
------------------------------------------
*/

/*
13.0 IMAGES
------------------------------------------
*/
/*
14.0 META
------------------------------------------
*/

/*
15.0 COMPONENT SPECIFIC
------------------------------------------
-in alphabetical order-
*/
.turnGreen{color:#00FF00;}
.required{color:#333;}
			
/*
16.0 PAGE SPECIFIC
------------------------------------------
*/
	
