<h3>Documents</h3>

<ul class="documents">
  <% @documents.each_with_index do |document, i| %>
    <li>
	  <%= i+1 %>.)
	  <%= link_to document.title, document_path(document.id)  %>
	  <%=  %>
	<%end%>
  
</ul>
<p></p>